@import url('https://rsms.me/inter/inter.css');

.page-container {
  display: flex;
  flex-flow: row-reverse nowrap;
  /* flex-direction: row-reverse; */
}

.trailsText {
  position: relative;
  width: 100%;
  color: black;
  /* font-weight: 800; */
  letter-spacing: -0.05em;
  will-change: transform, opacity;
}

.trailsText > div {
  overflow: hidden;
}

.card-container {
  display: flex;
}

.card {
  width: 240px;
  min-height: 80px;
  margin: 0.4em;
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0.07)
  );
  /* border: 1px solid #212121; */
  padding: 0.8em 1.2em 0.8em 1.2em;
  border-radius: 10px;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.082); */
  backdrop-filter: blur(8px);
}
.card::before {
  position: absolute;
  content: '';
  inset: 0;
  z-index: -1;
  border-radius: 50px;
  background-size: contain;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
}
.card .title {
  font-size: 1rem;
  /* line-height: 1.2; */
}
.card .text {
  font-size: 0.8rem;
  /* margin-top: 1em; */
}
.card .text a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.card .text a:hover {
  text-decoration: underline;
}
.card .label {
  display: inline-block;
  padding: 0.1em;
  margin: 0 0.2em 0 0.2em;
  font-size: 0.8em;
  border: 1px solid #212121;
}
