@import url('https://fonts.googleapis.com/css?family=VT323');

.game-page {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.scoreboard {
  font-family: 'VT323';
  font-size: 2em;
  color: #4159e4;
}

.gameover {
  font-family: 'VT323';
  font-size: 6em;
  text-align: center;
  color: #e44141;
  animation: gameoveranim 0.85s linear infinite;
}

@keyframes gameoveranim {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
