@import url('https://rsms.me/inter/inter.css');

.Pages {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  color: black;
  font-size: 2em;
  /* line-height: 1em; */
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter var', sans-serif;
}

.page-container {
  display: flex;
}

.page {
  padding: 24px;
  width: 50vw;
}

.jumbo {
  font-size: 2.4em;
  font-weight: 800;
}

.featured-text {
  font-size: 0.6em;
}
