body {
  background-color: #212121;
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.text-2 {
  color: white;
  font-size: 2em;
  font-weight: 800;
}
